In [176]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [177]:
df=pd.read_csv("G:/csv_files/linear_regression_prediction.csv", usecols=["area","prices"])
df

    area        prices
0   1000  3.164041e+05
1   1500  3.842979e+05
2   2300  4.929281e+05
3   3540  6.613048e+05
4   4120  7.400616e+05
5   4560  7.998082e+05
6   5490  9.260908e+05
7   3460  6.504418e+05
8   4750  8.256079e+05
9   2300  4.929281e+05
10  9000  1.402705e+06
11  8600  1.348390e+06
12  7100  1.144709e+06

In [179]:
lg_model=LinearRegression()
lg_model.fit(df[["area"]],df["prices"])

LinearRegression()

In [180]:
m=lg_model.coef_
b=lg_model.intercept_
print(f"the equation is : y={m}x + {b}")

the equation is : y=[135.78767123]x + 180616.4383561645

In [181]:
lg_model.predict([[5490]])

C:\Users\Hariharan.M\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([926090.75342466])

# lets do it in scratch

# this model takes only one inputs

In [182]:
class Linear_Regression1():
    def __init__(self):
        self.m=0
        self.b=0
        self.learning_rate=0.001
        self.iteration =100000
    def fit(self,x,target):  
        max1=x.max()
        x=np.array(x/max1)          #normalising the x_values beacuse if not error happened so
        target=np.array(target)
        for i in range(self.iteration):
            y_predict=self.m*x+self.b
            md=-(2/len(x))*np.sum(x*(target-y_predict)) 
            bd=-(2/len(x))*np.sum(target-y_predict)   
            self.m=self.m-self.learning_rate*md
            self.b=self.b-self.learning_rate*bd
        self.m=self.m/max1
#             print(self.m,self.b)
#             break
#             self.cost=(1/len(x))*np.sum((target-y_predict)**2)        
    def predict(self,value):
        print(self.m*(value) +self.b)
    def show_equation(self):
        print(f"the equation is y={self.m}*x + {self.b}")

#     print(self.cost)
#     print(f"y={weight}x{bias}")
#     print("number of iteration is :",i)

In [183]:
cust_model=Linear_Regression1()

In [184]:
x=np.array(df["area"])
target=np.array(df["prices"])

In [185]:
cust_model.fit(x,target)

In [186]:
cust_model.predict(5490)

926090.1580560398

In [187]:
cust_model.show_equation()

the equation is y=135.78690075811514*x + 180620.07289398782

# considering two input variable

In [188]:
df=pd.read_csv("G:\csv_files/multi_linear_regression.csv")

In [189]:
df=df.drop("bedrooms",axis=1)

In [190]:
df

   area  age   price
0  2600   20  550000
1  3000   15  565000
2  3200   18  610000
3  3600   30  595000
4  4000    8  760000
5  4100    8  810000

In [191]:
sklearn_model2=LinearRegression()
sklearn_model2.fit(df[["area","age"]],df["price"])

LinearRegression()

In [194]:
m1,m2=sklearn_model2.coef_
b=sklearn_model2.intercept_
print("m1:",m1,"m2:",m2,"intercept:",b)

m1: 133.0085511387511 m2: -5463.9220382665235 intercept: 284042.1639073314

In [192]:
sklearn_model2.predict([[3600,30]])

C:\Users\Hariharan.M\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([598955.28685884])

In [193]:
y=133.0085511387511*3600+-5463.9220382665235*30+284042.1639073314
y

598955.2868588397

# lets do it from scratch

In [195]:
df

   area  age   price
0  2600   20  550000
1  3000   15  565000
2  3200   18  610000
3  3600   30  595000
4  4000    8  760000
5  4100    8  810000

In [201]:
class Linear_Regression2():
    def __init__(self):
        self.m1=0
        self.m2=0
        self.b=0
        self.learning_rate=0.001
        self.iteration =1000000
    def fit(self,x1,x2,target):    #normalising the x_values beacuse if not error happened so
        max1=x1.max()
        max2=x2.max()
        x1=np.array(x1/max1)  
        x2=np.array(x2/max2)
        target=np.array(target)
        
        for i in range(self.iteration):
            y_predict=self.m1*x1+self.m2*x2 +self.b
            
            dm1=-(2/len(x1))*np.sum(x1*(target-y_predict)) 
            
            dm2=-(2/len(x2))*np.sum(x2*(target-y_predict))
            
            bd=-(2/len(x1))*np.sum(target-y_predict)   
            
            self.m1=self.m1-self.learning_rate*dm1
            self.m2=self.m2-self.learning_rate*dm2
            self.b=self.b-self.learning_rate*bd
        self.m1= self.m1/max1
        self.m2=self.m2/max2
#             self.cost=(1/len(x))*np.sum((target-y_predict)**2)        
    def predict(self,value=[0,0]):
        print(self.m1*(value[0])+self.m2*(value[1]) +self.b)
    def show_equation(self):
        print(f"the equation is y= {self.m1} * x1 + {self.m2} * x2+ {self.b}")

In [202]:
my_model=Linear_Regression2()

In [203]:
my_model.fit(df["area"],df["age"],df["price"])

In [204]:
my_model.show_equation()

the equation is y= 133.00851553495997 * x1 + -5463.923615491968 * x2+ 284042.3125726289

In [205]:
my_model.predict([3600,30])          # 598955.286858839 answer got from sklearn_package linear regression

598955.2600337258